body {
	background-color: #fffbf3;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.tui-text {
	font-family: Menlo;
	letter-spacing: 1px;
}

header {
	padding-top: 25px;
}

nav#top-nav {
	color: red;
}

.flex {
	display: flex;
}

.flex-end {
	align-items: flex-end;
}


div#menu-icon-container {
	width: 100%;
	display: none;
	margin-bottom: 25px;
}

div#menu-icon {
	margin: 0 0 0 auto;
	letter-spacing: -4px;
	font-size: 19px;
	/* border: 3.5px dotted red; */
	padding: 4px 4px 7px 7px;
  	font-weight: bold;
  	writing-mode: vertical-lr;
}


nav#top-nav div.logo-line {
	font-size: 22px;
}

div#mobile-nav {
	display: none;
}

.logo-center-slash {
	display: none;
}

nav#top-nav .selected {
	background-color: red;
	color: #fffbf3;
}

div#page-nav {
	flex-grow: 1;
}

div#nav-border span {
	overflow: hidden;
}
	
div#mobile-nav-border {
	width: 100%;
	display: none;
}

#site-title {
	font-weight: bold;
}

div#page-nav-links-container {
	float: right;
	margin-bottom: .25em;
}

ul#page-nav-links {

}

li.page-nav-link{
	margin-right: 1.5em;
	font-size: 18px;
}

li.page-nav-link:last-child {
	margin-right: 0;
}

nav#top-nav a:hover {
	background-color: red;
	color: #fcf5e3;
}

div#content {
	padding: 5em 0;
	line-height: 2;
}


@media screen and (max-width:750px) {
	body {
		padding: 0 30px;
	}

	#top-logo-line, #bottom-logo-line {
		display: none;
	}

	div#site-title-container {
		margin: 0 auto;
	}

	.logo-center-slash {
		display: inline;
	}

	div#menu-icon-container {
		display: flex;
	}

	div#menu-icon:hover {
		background-color: red;
		color: #fffbf3;
		cursor: pointer;
	}

	div#page-nav {
		display: none;
	}

	div#mobile-nav-border {
		display: block;
	}
	
	div#top-nav-content {
		margin: 1em 0;
	}

	div#mobile-nav {
		position: absolute;
		width: 100%;
		background-color: #fffbf3;	
	}

	div#mobile-nav-left-border {
		writing-mode: vertical-rl;
		margin-right: -5px;
	}

	ul#mobile-nav-links {
		padding-top: 7px;
	}

	li.mobile-nav-link {
		margin: 22px 0;
		font-size: 20px
	}

	.mobile-nav-trail {
		font-size: 16px;
		letter-spacing: 0;
	}
}
