<header>
	<nav id="top-nav" class="tui-text">
		<div id="site-title-container">
			<div class="logo-line"><span>/***************</span></div>
			<div class="logo-line"><span>* </span><span id="site-title">LikeHercules</span><span> *</span></div>
			<div class="logo-line"><span>***************/</span></div>
		</div>
		<div id="page-nav">
			<div id="page-nav-links-container">
				<ul id="page-nav-links">
					<li class="page-nav-link">/<a href="#">work</a></li>
					<li class="page-nav-link">/<a href="#">team</a></li>
					<li class="page-nav-link">/<a href="#">news</a></li>
					<li class="page-nav-link">/<a href="3">connect</a></li>
				</ul>
			</div>
			<div id="nav-border">
				<span>.</span>
			</div>
		</div>
	</nav>
</header>
