<header>
	<nav id="top-nav" class="tui-text">
		<div id="menu-icon-container">
  			<div id="menu-icon">
    			///
  			</div>
		</div>
		<div id="top-nav-content" class="flex flex-end">
			<div id="site-title-container">
				<div id="top-logo-line" class="logo-line"><span>/***************</span></div>
				<div id="center-logo-line" class="logo-line">
					<span class="logo-center-slash">/</span><span>* </span>
					{% if page.pageId == "index" %} 	
						<span id="site-title" class="selected">LikeHercules</span>
					{% else %}
						<a id="site-title" href="{{ site.url }}">LikeHercules</a>
					{% endif %}
					<span> *</span><span class="logo-center-slash">/</span>
				</div>
				<div id="bottom-logo-line" class="logo-line"><span>***************/</span></div>
			</div>
			<div id="page-nav">
				<div id="page-nav-links-container">
					<ul id="page-nav-links" class="flex">
						<li class="page-nav-link">
							{% if page.pageId == "work" %}
								/<span class="selected">work</span>
							{% else %}
								/<a href="{{ site.url }}/work">work</a>	
							{% endif %}
						</li>
						<li class="page-nav-link">
							{% if page.pageId == "team" %}
								/<span class="selected">team</span>
							{% else %}
								/<a href="{{ site.url }}/team">team</a>	
							{% endif %}
						</li>
						<li class="page-nav-link">
							{% if page.pageId == "news" %}
								/<span class="selected">news</span>
							{% else %}
								/<a href="{{ site.url }}/news">news</a>	
							{% endif %}
						</li>
						<li class="page-nav-link">
							{% if page.pageId == "connect" %}
								/<span class="selected">connect</span>
							{% else %}
								/<a href="{{ site.url }}/connect">connect</a>	
							{% endif %}
						</li>
					</ul>
				</div>
				<div id="nav-border">
					<span>.</span>
				</div>
			</div>
		</div>
		<div id="mobile-nav-border">
			<span>.</span>
		</div>

		<div id="mobile-nav">
			<div id="mobile-nav-left-border">
				<span>............</span>
			</div>
			<ul id="mobile-nav-links">
				<li class="mobile-nav-link"><span>./work</span></li>
				<li class="mobile-nav-link"><span>./team</span></li>
				<li class="mobile-nav-link"><span>./news</span></li>
				<li class="mobile-nav-link"><span>./connect</span></li>
			</ul>  
		</div>
	</nav>
</header>
